body {
    border: 1px solid plum;
    max-width: 1240px;
    margin: 0 auto;
}
h1 {
    font-size: 5vw;
}

.tiger img {
    width: 100%;
}

.container-two-column {
    display: flex;
}

.container-two-column .split {
    width: 50%;
}

.split img {
    width: 100%;
}

@media screen and (max-width: 576px){
    .container-two-column {
        flex-direction: column-reverse;
    }

    .container-two-column .split {
        width: 100%;
    }
}